# Semana 05
Julca Espillco Humberto Enrique

temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [4]:
# 5.1 OPERADORES ARITMÉTICOS
# se tiene : +, -, *,  /, **, //

In [11]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [13]:
# 5.2 OPERADORES DE ASIGNACICÓN
# se tiene =, +=, -=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [14]:
#la operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [17]:
#Ejemplo:
numero = 5
numero **= 3
print(numero)

125

In [19]:
numero = 5
numero = numero ** 3
print(numero)

125

In [20]:
#5.3 OPERADORES DE COMPARACIÓN
# se tiene: ==, !=, <, >, <=, >=

In [21]:
#Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [26]:
#con las cadenas funciona igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1 == nombre2

True

In [28]:
#5.3 OPERADORES LÓGICOS
# se tiene : and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [29]:
numero1 < numero2

True

In [30]:
# el Not invierte el resultado
not(numero1 < numero2)

False

In [31]:
numero1 < numero2 and numero3 < numero4

True

In [33]:
#tambien puedes utilizar parentesis para ordenar tu operación
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [34]:
#5.3 OPERADORES DE PERTENENCIA
# se tiene: in, not in

In [44]:
#Ejemplo
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [36]:
#¿Diego esta en aula?
alumno1 in aula

False

In [46]:
#¿Juan esta en aula?
alumno2 in aula

True

In [42]:
#¿Diego no esta en aula?
alumno1 not in aula

True

In [45]:
#¿Juan no esta en aula?
alumno2 not in aula

False

In [47]:
#5.6 OPERADORES DE IDENTIDAD
#se tiene is, is not

In [48]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuacion vaqmos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [49]:
#¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [50]:
#¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [51]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [52]:
aula1.append("Diego")

In [53]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [54]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [55]:
print(aula2)

['Juan', 'Daniel', 'Ruben']