# Semana 05
Julca Espillco Humberto Enrique

temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de cadenas

In [2]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [ ]:
#Universidad Nacional Tecnologica de Lima Sur
#01234.........                        -3-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
#tambien considera los espacios en blanco
cadena[11]

' '

In [6]:
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [8]:
cadena[-23]

'T'

In [9]:
#para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [10]:
#para saber el tamaño de una cadena utilizamos len()
#incluyendo espacios en blanco
len(cadena)

44

In [11]:
#para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [12]:
#ojito!......solo lo muestra por que el originial sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [13]:
#si deseara cambiarlo harias:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
#para mostrar una cadena en minuscula utilizamos lowe()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [15]:
#para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [17]:
#para generar una lista utilizando un criterio de separacion a partir de una cadena split()
#en este caso vamos a fenerar una lista de toda la caden, utilizando como criterio de separación la letra "a"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [18]:
#forma clasica para concatenar +
nombre = "Humberto Julca"
print("Buenos dias "+ nombre)

Buenos dias Humberto Julca

In [19]:
#utilizando el .format()
nombre = "Humberto Julca"
edad = 12
print("Hola {} ya se que tienes {} años".format(nombre, edad))

Hola Humberto Julca ya se que tienes 12 años

In [21]:
#dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es {}".format(resultado))
print("10/3 es {r:1.3f}".format(r = resultado))

10/3 es 3.3333333333333335
10/3 es 3.333

In [22]:
#dar formato con f
#la funcion f, esta disponible desde la version 3.6
nombre = "Humberto Julca"
edad = 22
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Humberto Julca, ya se que tienes 22 años

In [25]:
#dar formato a numeros con decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333