# Semana 05
Julca Espillco Humberto Enrique

temas:

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [ ]:
#siempre deben iniciar con una letra o un gion abajo(nunca con numero u otro simbolo)

In [2]:
edad=41
edad

41

In [3]:
nombre = "Humberto"
nombre

'Humberto'

In [4]:
apellido = "Julca Espillco"
apellido

'Julca Espillco'

In [5]:
nombrecompleto = nombre + apellido
nombrecompleto

'HumbertoJulca Espillco'

In [8]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Humberto Julca Espillco'

In [ ]:
#para saber el tipo de variable que utilizamos usamos la funcion type()
#por ejemeplo

In [9]:
numero = 50
type(numero)

int

In [10]:
type(nombre)

str

In [11]:
talla = 1.69
talla

1.69

In [12]:
type(talla)

float

In [13]:
#para convertir un número en cadena utilizamos la funcion str()
numero = 100
cadena = str(numero)
cadena

'100'

In [14]:
type(cadena)

str

In [16]:
#para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [17]:
type(numero2)

int

In [18]:
#para convertir una cadena en una decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [19]:
type(numero2)

float