# Semana 06
Julca Espillco Humberto

1. Coleccion de Datos

In [1]:
# 1.1 Listas
# Es una coleccion de elementos que pueden ser ordenados, modificados, etc......
# Se identifica por los corchetes
# Ejemplo:
aula = ['Yauricasa', 'Granados', 'Alva', 'Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [2]:
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [4]:
#podemos extraer cada elemento por su posición
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [5]:
#puedo asignar un valor a una posición de la lista.
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [6]:
#Mostramos como quedo la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [32]:
#para agregar un elemento utilizamos append
aula.append('Huaman')
aula.append("Huancas")
aula.append('Chavez')
aula.append('Serna')

In [38]:
aula

['Laura', 'Julca', 'Huaman', 'Huancas', 'Chavez', 'Serna']

In [28]:
#para eliminar elementos utilizamos remove[]
aula.remove('Huaman')
aula.remove('Huaman')
aula.remove('Huancas')

In [39]:
aula

['Laura', 'Julca', 'Huaman', 'Huancas', 'Chavez', 'Serna']

In [37]:
#si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Huancas")
aula

['Laura', 'Julca', 'Huaman', 'Huancas', 'Chavez', 'Serna']

In [43]:
# Para obtener el tamaño utilizamos len()
len(aula)

5

In [44]:
#Eliminar por indice
aula.pop(2)

'Huaman'

In [45]:
aula

['Laura', 'Julca', 'Huancas', 'Chavez']

In [46]:
#Elimina la ultima posicion de la lista
aula.pop()
aula

['Laura', 'Julca', 'Huancas']

In [47]:
for alumno in aula:
    print(alumno)

Laura
Julca
Huancas

In [48]:
aula.append('Vilva')
aula.append('Gavino')
aula

['Laura', 'Julca', 'Huancas', 'Vilva', 'Gavino']

In [50]:
for alumno in aula:
    print(alumno)

Laura
Julca
Huancas
Vilva
Gavino

In [51]:
#para invertir la lista utilizamos reverse()
#invertir no significa ordena de forma descendente
aula.reverse()
aula

['Gavino', 'Vilva', 'Huancas', 'Julca', 'Laura']

In [52]:
# Para ordenar unalista utilizamos sort()
aula.sort()
aula

['Gavino', 'Huancas', 'Julca', 'Laura', 'Vilva']

In [53]:
# 1.2 Tuplas
# Es una coleccion de elementos ordenada(Ordenadado significa que tiene un indice) que no se pueden modificar, es INALTERABLE.
# NO SE PUEDEN AGREGAR ELEMENTOS NI ELIMINAR
# SE IDENTIFICAN POR LOS PARENTESIS
tupla_aula = ('Granados', 'Julca', 'Cusi', 'Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [54]:
# Se puede recorrer con una estructura repetitiva
# Por ejemeplo for:
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [55]:
# Se puede extraer elementos por su posicion
tupla_aula[2]

'Cusi'

In [56]:
len(tupla_aula)

4

In [57]:
# 1.3 conjuntos
# Es una coleccion de elementos que no estan ordenados(Significa que no tiene indice)
conjunto_aula = {'Granados', 'Julca', 'Cusi', 'Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [60]:
# Se puede recorrer con una estructura repetitiva
# Por ejemeplo for:
for alumno in conjunto_aula:
    print(alumno)

Julca
Marcos
Cusi
Granados

In [61]:
# OBSERVACION: No se puede acceder por posicion porque no considera indexacion.
# Ejemplo:
# conjunto_aula[2] devolvera un mensaje de error

In [63]:
len(conjunto_aula)

4

In [64]:
# para agregar utilizamos la funcion add()
conjunto_aula.add("Mota")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Mota'}

In [65]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Mota'}

In [67]:
# 1.4 Diccionarios
# Es una coleccion de elementos, que estan indexados, no estan ordenados y se pueden modificar 
# son escritos entre llaves y estan formados por pares de elementos
# INDICE: valor

diccionario_aula = {2:'Cusi', '1':'Julca', 'dos':'Gomez', '0':'Mota'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Gomez', '0': 'Mota'}

In [68]:
# Del diccionario: diccionario_aula estraer el valor cuyo indice sea cero en String:
diccionario_aula['0']

'Mota'

In [69]:
diccionario_aula[2]

'Cusi'

In [70]:
diccionario_aula["dos"]

'Gomez'

In [71]:
# Agregar elemento al diccionario
diccionario_aula['20'] = "Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Gomez', '0': 'Mota', '20': 'Serna'}

In [72]:
# Eliminar elementos del diccionario
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Gomez', '0': 'Mota', '20': 'Serna'}

In [75]:
# Tambien se puede eliminar utilizamos de()
del (diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Mota', '20': 'Serna'}

In [76]:
# para recorrer todos 
for indice in diccionario_aula:
    print(indice)

1
0
20

In [77]:
# Para obtener el indice y el valor de cada elemento utilizamos items()
for indice, valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Mota
20 Serna

In [78]:
# 1.5 Ejercicio:
# Dado una lista de [ALANYA, ALVA, AZAÑERO, CARRASCO, CCACCYA, COSME, CUSI, DIAZ, FLORES, GOMEZ, GOMEZ,
# GRANADOS, HUANCAS, JULCA, LAURA, MOTTA, PINEDO, PONCE, QUINTANA,RODRIGUEZ, SERNA, VILCA, YAURICASA]
# Diseñar un código que muestre si el apellido de un estudiante(ingreso por teclado forma parte de la lista)
# Tiempo: 12 minutos

In [80]:
# TAREA EN CLASE
alumnos = ["ALANYA" ,"ALVA","AZAÑERO" ,"CARRASCO" ,"CCACCYA" ,"COSME" ,"CUSI" ,"DIAZ" ,"FLORES" ,"GOMEZ" ,"GOMEZ" ,"GRANADOS" 
,"HUANCAS","JULCA" ,"LAURA" ,"MOTTA" ,"PINEDO" ,"PONCE" ,"QUINTANA","RODRIGUEZ" ,"SERNA" ,"VILCA" ,"YAURICASA"]

In [83]:
apellido = input("Ingresa un apellido: ")
mal = False
for alumno in alumnos: 
    alumno = alumno.capitalize()
    alumno = apellido.capitalize()
    if apellido == alumno:
        print("Nombre encontrado")
        mal = True
        break
        
        
if bandera == False:
    print("Nombre no encontrado")

Ingresa un apellido: Vilca
Nombre encontrado